@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 body{
    font-family: "Rubik",sans-serif;
    
 }
 h1{
    font-size: 5.5em;
 }

 h2{
    font-size: 2em;
 }
 h3{
    font-size: 1.5em;
 }
 p{
    font-size: 1.2em;
 }
 ul{
    margin-left: 0;
    list-style: none;  
 }


span{
   font-size: 1.5em;
   
   color: rgb(6, 120, 25);
       text-transform: uppercase;
       font-weight: 500;
       
  }
header{
   nav{
       .nav-link{
          text-transform: uppercase; 
          color: rgb(2, 155, 38); 
          margin-left: 20px;
          font-weight: bold;
         
          &:hover{
            color: #222725; 

        }
        span{
   
         color: rgb(255, 143, 143);
         text-transform: uppercase;
         font-weight: 500;
         font-size: 1rem;
        }
        h1{
         text-transform: uppercase;
        }
       }
       .logo{
           text-transform: uppercase;  
           margin-left: 20px;
           font-weight: 500;
           font-size: 1rem;
           color: #222725; 
           span{
               color: rgb(6, 120, 25);
           }

          
       }
   }
}

footer{
   background-color: #222725;
     
     h3{
      font-size: 1.5em;
      color: rgb(2, 155, 38);
      
     }
  
     a{
      color: white;
      text-decoration: none;
      font-size: 1.2em;
     }
     p{
      color: white;
      text-decoration: none;
      font-size: 1.2em;
     }
    
  }
  

.btn-primary:hover{
    background-color:rgb(255, 135, 135);
    border: 1px  solid rgb(255, 135,135);
}



 footer{
   background-color: rgb(22, 21, 21);
   a{
      color: white;
   }
   a:hover{
      color: rgb(2, 155, 38);
   }
 }
 
 .section-1{
   .hero{
      min-height: 600px;
      color:white ;
        background-image: url(../images/hero2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     /* background: linear-gradient(to right ,rgba(0,0,0,0.8) ,rgba(0,0,0,0) ),url('../images/hero.jpg');*/

      
      .btn{
         width: 150px;
         height: 50px;
         color: white;
         font-weight: 500;
         background-color: rgb(6, 120, 25);
         text-transform: uppercase;
      }
   }
}
.section-2{
   .image {
      transition: transform 0.3s ease; /* Transition pour l'animation */
      width: 100%; /* Ajustez selon vos besoins */
      height: auto; /* Garder le ratio de l'image */
    }
    
    .image:hover {
      transform: scale(1.1); /* Agrandir l'image au survol */
    }
}

.section-3{
   background-color: rgb(213, 213, 213);
   height: 150px;
   .btn{
      width: 150px;
      height: 50px;
      color: black;
      font-weight: 500;
      background-color:white;
      text-transform: uppercase;
   }
   
   
}
.testi{
    padding: 25px 25px 50px 25px;
   .card{
      border-radius: 40px;
      margin: 20px;
   }
   .card-body{

      .rating{
         color: rgb(2, 155, 38)  !important;
      }
      .content{
       
        p{
         font-size: 1em;
        }
       
        .name{
         font-size: 1em;
         font-weight: bold;
        }
      }
   }
   .meta{
      border-radius: 80%;
     }
}

   .skills .progress {
      height: 60px;
      display: block;
      background: none;
      border-radius: 0;
    }
    
    .skills .progress .skill {
      
      padding: 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
  ;
    }
    
    .skills .progress .skill .val {
      float: right;
      font-style: normal;
    }
    
    .skills .progress-bar-wrap {
      background:white;
      background: color-mix( transparent 90%);
      height: 15px;
    }
    
    .skills .progress-bar {
      width:250px;
      height: 15px;
      transition: 0.9s;
    
    }
    i{
      font-weight: 500;
    }
